<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harris.challenge.brata"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

   	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.harris.challenge.brata.MainLauncher"
            android:label="@string/title_activity_brata_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.harris.challenge.brata.BrataLauncherActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.RequestAssignmentActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.NavigationActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.RangingActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.BearingActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.QRCodeReaderActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.TimerActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.LightSensorActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.SubmitResponseActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.InclinationActivity" >
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.CountdownActivity" android:theme="@style/InclinationTheme">
        </activity>
        <activity android:name="com.harris.challenge.brata.tools.DistanceFinderActivity" 
        	android:screenOrientation="landscape">
        </activity>
        <activity android:name="com.harris.challenge.brata.IncidentLauncherActivity" >
        </activity>
        <activity android:name="com.harris.challenge.incidents.StraightAsAnArrow" >
        </activity>
        <activity android:name="com.harris.challenge.incidents.SkidMarks" >
        </activity>
        <activity android:name="com.harris.challenge.incidents.TwoPlacesAtOnce" >
        </activity>
        <activity android:name="com.harris.challenge.incidents.DudeMyCar" >
        </activity>
        
        <activity android:name="com.harris.challenge.brata.SATChallengeLauncherActivity" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.harris.challenge.secret_agent_tools.MasterServerCommunicator" 
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name="com.harris.challenge.secret_agent_tools.RegistrationTool" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.harris.challenge.secret_agent_tools.CrackTheSafe" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.harris.challenge.secret_agent_tools.HyperMutationBomb" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.harris.challenge.secret_agent_tools.FindTheSecretLaboratory" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.harris.challenge.secret_agent_tools.CaptureProfessorAardvark" 
            android:screenOrientation="portrait"/>
        
       

        <service android:name="com.harris.challenge.brata.framework.GPSService" />

        <receiver
            android:name="com.harris.challenge.brata.framework.SMSReceiver"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.harris.challenge.brata.tools.SoundRecordingActivity" >
        </activity>
        <activity
            android:name="com.harris.challenge.brata.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        
        <activity android:name="com.harris.challenge.brata.framework.UriEntryActivity">
               <intent-filter>
                  <action android:name="android.intent.action.MAIN"/>
                  <category android:name="android.intent.category.DEFAULT"/>
               </intent-filter>
               <intent-filter>
                  <action android:name="com.google.zxing.client.android.SCAN"/>
                  <category android:name="android.intent.category.DEFAULT"/>
               </intent-filter>
        </activity>
    </application>

</manifest>
